<div class="filler"></div>

<ul class="errors"></ul>

<section class="content">
	<h1>Sign Up</h1>

	<form class="new_user" action="api/users" method="POST">
		<input type="hidden" name="authenticity_token" value="<%= $('meta[name="csrf-token"]').attr("content") %>">
	
	  <label for="user_name">Name</label>
	  <input type="text"
	      id="user_name"
	      name="user[name]">

	  <label for="user_email">Email</label>
	  <input type="email"
	      id="user_email"
	      name="user[email]">


	  <label for="user_college_id">College <span class="optional">(optional)</span></label>
	  <select name="user[college_id]" id="user_college_id">
	    <option value="">--Select--</option>
	    <% colleges.each( function (college) { %>
	      <option value="<%= college.get("id") %>">
	        <%= college.escape("name") %></option>
	    <% }); %>
	  </select>

	  <label for="user_password1">Password</label>
	  <input type="password"
	      id="user_password1"
				class="user_password"
	      name="user[password]">
			
	  <label for="user_password2">Confirm Password</label>
	  <input type="password"
				class="user_password"
	      id="user_password2">

	  <button class="create_user">Sign Up</button>
	</form>
</section>

<div class="filler"></div>