<form class="password_edit group">
	<% disabled = (user.get("email") === "demo@demo.com") ? "disabled" : "" %>
	
	<% if (disabled) { %>
		<p>Disabled for demo user</p>
	<% } %>
  <label for="user_password1">Password</label>
  <input type="password"
      id="user_password1"
			class="user_password"
			<%= disabled %>
      name="user[password]">

  <label for="user_password2">Confirm Password</label>
  <input type="password"
      id="user_password2"
			class="user_password"
			<%= disabled %>>
			
	<a href="" class="password_reset" <%= disabled %>>Submit</a>
	<a href="" class="password_cancel">Cancel</a>
</form>