<footer>
  <div class="home_link">
    <%= link_to "www.ratemypurrfessors.com", root_url %>
  </div>
  <div class="places_links">
    <ul>
    	<li><a href="#<%= colleges_path %>">Search/Rate Colleges</a></li>
			<li><a href="<%= professors_url %>">Search/Rate Professors</a></li>
    </ul>
  </div>
	<div class="attribution">
		"Cat" symbol by Isabel Foo, from 
		<a href="http://thenounproject.com/">The Noun Project</a> collection.
	</div>
</footer>