<section class="professor_info">
  <h1><%= @professor.name %></h1>
  <p><%= @professor.department %> Department</p>
  <p><%= @professor.college.name %></p>
</section>

<section class="ratings">
  <h1>Ratings</h1>
  <p>There are no ratings for this professor :(</p>
</section>