<div class="vote_buttons">
	<a href="" class="upvote">&#xff0b;</a>
	<a href="" class="downvote">&minus;</a>
</div>

<div class="vote_info">
	<p><%= upvotes %> people found this helpful</p>
	<p><%= downvotes %> people found this unhelpful</p>
</div>