<section class="college_info">
  <h1><%= @college.name %></h1>
  <p><%= @college.location %></p>
</section>

<section class="professor_sidbar">
  <h3>Professors at <%= @college.name %></h3>
  <p>There are no professors for this college :(</p>
</section>

<section class="ratings">
  <h1>Ratings</h1>
  <p>There are no ratings at this time :(</p>
</section>