/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

/* RESET */
html, body, ul, li, header, h1, h3, h4, h5, p, div, a, section, footer, img, main, form, article, label {
	padding: 0;
	margin: 0;
	border: 0;
	background: transparent;
	font: inherit;
	text-decoration: none;
	color: inherit;
}

body {
	font-family: sans-serif;
}

div.background {
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background: image-url("RMP-background.png");
	z-index: -1;
}
/* Background pattern from subtlepatterns.com */

input[type="text"], input[type="search"], input[type="email"], input[type="password"], input[type="submit"], button, textarea {
	-webkit-appearance: none;
	display: inline-block;
	box-sizing: content-box;
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	width: auto;
	font: inherit;
	vertical-align: baseline;
	background: transparent;
	color: inherit;
}

ul {
	list-style: none;
}

button, input[type="submit"] {
	cursor: pointer;
}

/* Clearfix */
.group:after {
	content: "";
	display: block;
	clear: both;
}

/* Header */
header {
	min-width: 1100px;
	background: #333335;
}

.logo {
	float: left;
	width: 400px;
}

.logo  img {
	width: 100%;
}

.nav_search {
	width: 400px;
	float: left;
	margin-top: 25px;
	margin-left: 70px;
}

.nav_search input {
	width: 90%;
}

.right_nav {
	float: right;
	position: relative;
	margin: 20px 50px;
}

.user_nav {
	position: relative;
	cursor: pointer;
	padding: 7px 14px;
	background: #161616;
	color: #F527EC;
	border-radius: 14px;
	letter-spacing: 2px;
	font-weight: bold;
	font-size: 14px;
}

.user_nav:hover {
	background: #434446;
	color: #fff;
}

ul.user_dropdown {
	position: absolute;
	display: none;
	background: #9cc100;
	width: 100px;
	padding: 10px;
	border-radius: 14px;
}

ul.user_dropdown > li > a, ul.user_dropdown > li input {
	display: block;
	letter-spacing: 2px;
	color: #fff;
	font-size: 12px;
	font-weight: bold;
}

ul.user_dropdown > li > a:hover, ul.user_dropdown > li input:hover {
	color: #F527EC;
}

ul.user_dropdown > li > a {
	padding-bottom: 10px;
}

ul.user_dropdown > li input {
	padding-bottom: 3px;
}

.right_nav:hover > ul.user_dropdown {
	display: block;
}

div.nav_search > form {
	background: #434446;
	color: #fff;
	border-radius: 10px;
	padding: 2px 5px;
}

div.nav_search > form > button {
	font-weight: bold;
	font-size: 14px;
}

div.nav_search > form > button:hover {
	color: #F527EC;
}

/* Main */
html {
	height: 100%;
}

body {
	height: 100%;
}

main {
	min-height: 550px;
	width: 900px;
	margin: 0 auto;
	background: rgba(206, 255, 199, .5);
	position: relative;
	color: #333;
}

.filler {
	height: 90px;
}

.filler_small {
	height: 50px;
}

/* Footer */

footer {
	min-width: 1100px;
	background: #333335;
	color: #ccc;
	font-size: 16px;
}

.home_link {
	float: left;
	margin: 30px 50px 20px 50px;
}

.places_links {
	float: right;
	position: relative;
}

.attribution {
	clear: both;
	text-align: center;
	font-size: 12px;
	color: #777;
}

.places_links > ul > li {
	float: left;
	margin: 30px 30px 20px 30px;
}

.places_links > ul > li:last-child {
	margin-right: 50px;
}

.footer_dropdown {
	position: absolute;
	display: none;
}

footer a:hover {
	color: #9cc100;
	text-decoration: underline;
}

/* Home */
div.background_image {
	background: image-url("oie_IcPSkd3ICTRo.png") no-repeat;
	background-size: 100% 100%;
	position: absolute;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
	z-index: -1;
}

.content {
	padding: 30px 0 40px 0;
	width: 600px;
	border-radius: 10px;
	margin: 0 auto;
	background: #333;
	color: white;
}

.start {
	margin-left: 90px;
	margin-bottom: 50px;
	letter-spacing: 2px;
}

.content > article {
	margin: 0 auto;
	width: 500px;
}

.content > article > div {
	background: #DB9BE0;
	color: #333;
	padding: 20px;
}

.content > article > div:hover {
	background: #9cc100;
}

strong.what {
	display: inline-block;
}

p.main_label {
	text-align: center;
	clear: both;
	font-size: 48px;
	width: 450px;
}

strong.professor, strong.college {
	display: none;
}

div.professor {
	font-size: 24px;
	text-align: center;
	float: left;
	margin-left: 30px;
	margin-bottom: 30px;
}

div.college {
	font-size: 24px;
	text-align: center;
	float: right;
	margin-right: 35px;
	margin-bottom: 30px;
}

p.main_label > strong {
	color: #9cc100;
}

div.professor:hover ~ p.main_label > strong.professor {
	display: inline-block;
}

div.professor:hover ~ p.main_label > strong.what {
	display: none;
}

div.college:hover ~ p.main_label > strong.college {
	display: inline-block;
}

div.college:hover ~ p.main_label > strong.what {
	display: none;
}

// LOADING

div.loading {
	background: image-url("SpaceCat.jpg"), no-repeat;
	background-size: 100% 100%;
	position: absolute;
	top: 0;
	bottom: 0;
	width: 100%;
	z-index: 1;
}

// SEARCH
form.general_search > input {
	float: left;
	width: 340px;
	background: rgba(255, 255, 255, 0.7);
	padding: 3px 1px;
	border-radius: 10px;
}