// Place all the styles related to the Colleges controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

//Index
form.college_search, form.general_search {
	margin: 0 auto;
	display: block;
	width: 500px;
	background: #7D9A00;
	color: #fff;
	padding: 13px 20px;
	border-radius: 10px;
	margin-bottom: 20px;
}

form.college_search > label, form.professor_search > label, form.general_search > label {
	float: left;
	display: block;
	font-weight: bold;
	letter-spacing: 1px;
	margin-top: 3px;
	margin-right: 5px;
}

form.college_search > input {
	float: left;
	width: 300px;
	background: rgba(255, 255, 255, 0.7);
	padding: 3px 1px;
	border-radius: 10px;
}

section.colleges_list, section.professors_list, section.matches_list, section.user_ratings {
	padding: 10px 0 30px 0;
	margin: 0 100px;
	background: #FFF7F7;
}

section.colleges_list > h1, 
section.professors_list > h1, 
section.matches_list > h1, 
section.user_ratings > h1 {
	font-size: 32px;
	font-weight: bold;
	margin: 10px 0 20px 0;
	text-align: center;
}

article.colleges_list, 
article.professors_list, 
article.matches_list, 
section.user_ratings > ul {
	padding: 0 40px;
}

li.college > a, 
li.professor > a, 
li.match > a, 
li.user_rating > a.rating_link {
	padding: 10px 30px;
	display: block;
	border-top: 1px solid #ccc;
}

li.college:last-child > a, 
li.professor:last-child > a, 
li.match:last-child > a, 
li.user_rating:last-child > a.rating_link {
	border-bottom: 1px solid #ccc;
}

li.college > a:hover, 
li.professor > a:hover, 
li.match > a:hover, 
li.user_rating > a.rating_link:hover {
	background: #eee;
}

li.college > a > h3, 
li.professor > a > h3, 
li.match > a > h3,
li.user_rating > a.rating_link > h3 {
	font-weight: bold;
	padding-bottom: 2px;
}

li.college > a > p, 
li.professor > a > p, 
li.match > a > p,
li.user_rating > a.rating_link > p {
	font-size: 14px;
	padding-left: 10px;
	color: #777;
}

//Show

nav.professor_sidebar {
	width: 260px;
	padding: 20px;
	float: left;
}

.professors_list > li {
	padding: 10px;
}

section.college_info {
	width: 540px;
	padding: 30px;
	float: right;
}

section.college_averages {
	width: 540px;
	padding: 30px;
	float: right;
}

section.college_averages > h1 {
	font-weight: bold;
	margin: 10px;
}

section.all_college_avg {
	width: 544px;
	margin: 0 auto;
}

section.all_college_avg > div {
	float: left;
	width: 200px;
	border: 2px solid blue;
	padding: 10px;
}

section.all_college_avg > div > h3 {
	font-weight: bold;
	font-size: 12px;
}

section.all_college_avg > div > p {
	font-size: 24px;
	font-weight: bold;
	text-align: center;
}

section.all_college_avg > h5 {
	clear: both;
}

section.ratings {
	clear: both;
	position: relative;
}

section.ratings li {
	clear: both;
	padding: 50px;
}

section.ratings li div {
	float: left;
	border: 2px solid orange;
	padding: 5px;
}

.paginate {
	clear: both;
}

