// Place all the styles related to the CollegeRatings controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


// New/Edit

section.rating_form {
	margin: 0 100px;
}

div.college_info,
div.professor_info {
	text-align: center;
	margin: 30px 0 50px 0;
}

div.college_info > h1,
div.professor_info > h1 {
	font-weight: bold;
	font-size: 24px;
}

form.college_rating,
form.professor_rating {
	width: 600px;
	margin: 0 auto;
	position: relative;
	margin-bottom: 30px;
}

form.college_rating > div {
	float: left;
	clear: both;
	padding: 10px;
	position: relative;
	overflow: hidden;
	width: 300px;
	height: 60px;
}

form.college_rating > div.radio > label.radio,
form.professor_rating > div.radio > p.radio {
	display: block;
	font-weight: bold;
	margin-bottom: 10px;
}

form.college_rating > div.radio > input:not(.hidden), 
form.professor_rating > div.radio > input:not(.hidden) {
	display: block;
	float: left;
}

form.college_rating > div.radio > input.hidden,
form.professor_rating > div.radio > input.hidden {
	position: absolute;
	left: -200px;
}

form.college_rating > div.radio > label:not(.radio),
form.professor_rating > div.radio > label {
	position: absolute;
	display: block;
	background: orange;
	width: 40px;
	height: 30px;
	border: 1px solid #ccc;
	cursor: pointer;
	color: rgba(255, 255, 255, 0.5);
	text-align: center;
	font-size: 20px;
	z-index: 10;
}

form.college_rating > div.radio > label:nth-child(4),
form.professor_rating > div.radio > label:nth-child(4) {
	left: 5px;
	border-radius: 20px;
	z-index: 5;
	text-align: center;
	padding-right: 20px;
	padding-left: 5px;
}

form.college_rating > div.radio > label:nth-child(6),
form.professor_rating > div.radio > label:nth-child(6) {
	left: 50px;
}

form.college_rating > div.radio > label:nth-child(8),
form.professor_rating > div.radio > label:nth-child(8) {
	left: 90px;
}

form.college_rating > div.radio > label:nth-child(10),
form.professor_rating > div.radio > label:nth-child(10) {
	left: 130px;
}

form.college_rating > div.radio > label:nth-child(12),
form.professor_rating > div.radio > label:nth-child(12) {
	left: 150px;
	border-radius: 20px;
	z-index: 5;
	text-align: center;
	padding-left: 20px;
	padding-right: 5px;
}

form.college_rating > div.radio > input:checked ~ label:not(.radio),
form.professor_rating > div.radio > input:checked ~ label {
	background: #aaa;
}

form.college_rating > div.radio > input:checked + label:not(.radio),
form.professor_rating > div.radio > input:checked + label {
	background: orange;
}

article.college_extra {
	padding-top: 100px;
}

article.college_extra > div > label{
	display: block;
	font-weight: bold;
	margin-bottom: 10px;
}

article.college_extra > div > textarea,
div.comments > textarea {
	background: #fff;
	height: 100px;
	margin-bottom: 20px;
	border: 1px solid #ccc;
	padding: 5px;
	font-size: 14px;
	width: 250px;
}

form.college_rating button {
	background: #7D9A00;
	color: #fff;
	padding: 15px 25px;
	font-weight: bold;
	border-radius: 10px;
	letter-spacing: 1px;
	margin-top: 50px;
}

form.college_rating button:hover,
form.professor_rating button:hover {
	background: #708B00;
}

form.college_rating > a.cancel {
	background: #D63333;
	color: #fff;
	padding: 15px 25px;
	font-weight: bold;
	border-radius: 10px;
	letter-spacing: 1px;
	margin-top: 50px;
	margin-left: 20px;
}

form.college_rating > a.cancel:hover {
	background: #CC0000;
}

//Errors

ul.errors {
	background: #FF6666;
	width: 300px;
	margin: 0 auto;
	border-radius: 10px;
	margin-bottom: 50px;
}

ul.errors > li {
	padding: 10px;
}

//SHOW

ul.all_ratings > li.college_rating {
	height: 300px;
	width: 700px;
	padding-right: 100px;
}

ul.all_ratings > li.college_rating > div {
	margin-bottom: 20px;
}

div.grad_year > p {
	font-size: 14px;
	display: block;
	padding: 12px 0 7px 0;
}