// Place all the styles related to the CollegeRatings controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


// New/Edit

div.college_info {
	width: 500px;
	margin: 20px auto;
}

div.college_info > h1 {
	font-weight: bold;
	font-size: 24px;
}

form.college_rating {
	width: 800px;
	margin: 0 auto;
}

form.college_rating > div {
	float: left;
	clear: both;
	padding: 10px;
}

form.college_rating > div > label.radio {
	display: block;
	font-weight: bold;
}
//
//form.college_rating > div > label:not(.radio) {
//	float: left;
//}

form.college_rating > div > input {
	display: block;
	float: left;
}

form.college_rating button {
	clear: both;
}