// Place all the styles related to the CollegeRatings controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


// New/Edit

div.college_info {
	width: 500px;
	margin: 0 auto;
}

div.college_info > h1 {
	font-weight: bold;
	font-size: 24px;
}

form.college_rating {
	width: 800px;
	margin: 0 auto;
	position: relative;
}

form.college_rating > div {
	float: left;
	clear: both;
	padding: 10px;
	position: relative;
	overflow: hidden;
	width: 300px;
}

form.college_rating > div.radio > label.radio {
	display: block;
	font-weight: bold;
}

form.college_rating > div.radio > input:not(.hidden) {
	display: block;
	float: left;
}

form.college_rating > div.radio > input.hidden {
	position: absolute;
	left: -200px;
}

form.college_rating > div.radio > label:not(.radio) {
	position: absolute;
	display: block;
	background: orange;
	width: 20px;
	height: 20px;
	border: 1px solid blue;
	cursor: pointer;
}

form.college_rating > div.radio > label:nth-child(6) {
	left: 30px;
}

form.college_rating > div.radio > label:nth-child(8) {
	left: 50px;
}

form.college_rating > div.radio > label:nth-child(10) {
	left: 70px;
}

form.college_rating > div.radio > label:nth-child(12) {
	left: 90px;
}

//div.radio > input:checked ~ label {
//	background: red;
//}

form.college_rating > div.radio > input:checked ~ label:not(.radio) {
	background: #ddd;
}

form.college_rating > div.radio > input:checked + label:not(.radio) {
	background: orange;
}

form.college_rating button {
	
}
