// Place all the styles related to the Professors controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// Index

form.professor_search {
	margin: 0 auto;
	display: block;
	width: 500px;
	background: #7D9A00;
	color: #fff;
	padding: 13px 20px;
	border-radius: 10px;
	margin-bottom: 20px;
}

form.professor_search > input {
	float: left;
	width: 320px;
	background: rgba(255, 255, 255, 0.7);
	padding: 3px 1px;
	border-radius: 10px;
}

section.professors_list > div.new_professor p {
	font-size: 14px;
	text-align: center;
}

section.professors_list > div.new_professor p > a {
	text-decoration: underline;
}

div.paginate {
	padding: 10px 50px;
}

div.paginate > a.next {
	float: right;
}

div.paginate > a.previous {
	float: left;
}

div.paginate > a {
	font-size: 14px;
	display: block;
	color: #7D9A00;
}

div.paginate > a:hover {
	color: 	#657D00;
}

//New Professor Subview
section.professors_list > div.new_professor > div {
	background: #C3CE94;
	border-radius: 10px;
	width: 400px;
	padding: 30px;
	margin-left: 100px;
	margin-bottom: 20px;
}

div.new_professor > div > h1 {
	font-weight: bold;
	font-size: 20px;
	text-align: center;
	margin-bottom: 10px;
}

div.new_professor > div > form {
	width: 300px;
}

div.new_professor > div > form > label {
	font-weight: bold;
	display: block;
	clear: both;
}

div.new_professor > div > form > input:not(#professor_middle_initial) {
	float: left;
	width: 320px;
	background: rgba(255, 255, 255, 0.7);
	padding: 3px 1px;
	margin-bottom: 5px;
}

div.new_professor > div > form > input#professor_middle_initial {
	float: left;
	width: 30px;
	background: rgba(255, 255, 255, 0.7);
	padding: 3px 1px;
	margin-bottom: 5px;
}

div.filepicker > a {
	font-weight: bold;
	margin-bottom: 5px;
}

span.photo_upload {
	text-decoration: underline;
}

div.filepicker > p {
	text-align: left;
	margin-left: 10px;
}

div.new_professor > div > form > button {
	font-weight: bold;
	font-size: 14px;
	padding: 7px 10px;
	background: #E8EDD4;
	border-radius: 5px;
	margin: 10px 10px 0 10px;
}

div.new_professor > div > form > button:hover {
	background: #4C7F4C;
	color: #fff;
}

//Confirmation Modal
div.modal_background {
	position: absolute;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
	background: #000;
	opacity: .1;
	z-index: 1000;
}

div.confirm_modal {
	z-index: 2000;
	background: #fff;
	border-radius: 10px;
	padding: 30px;
	position: absolute;
	width: 300px;
	left: 230px;
	box-shadow: 5px 5px 5px gray;
}

div.confirm_modal > p {
	font-size: 16px;
	font-weight: bold;
	letter-spacing: 1px;
	padding-bottom: 10px;
}

div.confirm_modal > button:not(.modal_close) {
	font-size: 14px;
	text-decoration: underline;
	padding-left: 50px;
	padding-top: 10px;
}

div.confirm_modal > button:not(.modal_close):hover {
	color: #7D9A00;
}

div.confirm_modal > button.modal_close {
	position: absolute;
	border-radius: 50%;
	padding: 0 5px;
	top: 7px;
	right: 10px;
	color: #777;
}

div.confirm_modal > button.modal_close:hover {
	background: #ccc;
	color: #fff;
}


//SHOW

//Info

section.professor_info {
	width: 640px;
	margin: 0 auto;
	background: #A9B966;
	margin-bottom: 50px;
	padding: 30px;
	border-radius: 10px;
	position: relative;
}

section.professor_info > div.professor_picture {
	width: 200px;
	border: 5px solid black;
	float: left;
	margin-bottom: 20px;
}

div.professor_picture > img {
	display: block;
	width: 100%;
}

section.professor_info > h1 {
	font-weight: bold;
	font-size: 48px;
	display: block;
	float: right;
	width: 400px;
	text-align: right;
}

section.professor_info > p {
	clear: right;
	font-weight: bold;
	font-size: 24px;
	text-align: right;
}

section.professor_info > a {
	padding: 20px 20px;
	background: #ec26e5;
	font-weight: bold;
	color: #eee;
	display: block;
	border-radius: 5px;
	width: 172px;
	letter-spacing: 1px;
	margin: 0 auto;
	margin-top: 20px;
	clear: both;
	text-align: center;
}

a.bottom_link {
	padding: 20px 20px;
	background: #ec26e5;
	font-weight: bold;
	color: #fff;
	display: block;
	border-radius: 5px;
	width: 172px;
	letter-spacing: 1px;
	margin: 0 auto;
	text-align: center;
}

section.professor_info > a:hover, a.bottom_link:hover, section.college_info > a:hover {
	background: #D422CE;
	color: #fff;
}

//Average Ratings

section.professor_averages {
	clear: both;
	background: #FFF7F7;
	padding: 20px;
	margin-top: 20px;
	border-radius: 10px;
}

section.professor_averages > div {
	width: 500px;
	margin: 0 auto;
}

section.professor_averages > div > h1 {
	font-weight: bold;
	font-size: 20px;
	display: block;
	padding-bottom: 10px;
}

section.professor_averages > div > div {
	float: left;
	padding: 10px;
	border-top: 3px solid #333;
	border-left: 3px solid #333;
	border-bottom: 3px solid #333;
	height: 100px;
	width: 100px;
}

section.professor_averages > div > div:nth-child(5) {
	border-right: 3px solid #333;
}

section.professor_averages > div > div > h3 {
	font-weight: bold;
	text-align: center;
	border-bottom: 1px solid #333;
}

section.professor_averages > div > div > p.number {
	font-weight: bold;
	font-size: 40px;
	text-align: center;
	display: block;
	padding-top: 20px;
}

section.professor_averages > div > div > p:not(.number) {
	margin-top: 5px;
	margin-left: 15px;
}

section.professor_averages > div > h5, section.all_college_avg > h5 {
	clear: both;
	display: block;
	font-size: 14px;
	padding-top: 7px;
}

//Ratings

section.ratings {
	padding: 10px 0 30px 0;
	background: #FFF7F7;
}