// Place all the styles related to the ProfessorRatings controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

p.cold_thermometer {
	background: image-url("cold_thermometer.png") no-repeat;
	width: 31px;
	height: 31px;
	background-size: 100% 100%;
}

p.hot_thermometer {
	background: image-url("hot_thermometer.png") no-repeat;
	width: 31px;
	height: 31px;
	background-size: 100% 100%;
}

p.large_cold_thermometer {
	background: image-url("cold_thermometer.png") no-repeat;
	width: 70px;
	height: 70px;
	background-size: 100% 100%;
}

p.large_warm_thermometer {
	background: image-url("warm_thermometer.png") no-repeat;
	width: 70px;
	height: 70px;
	background-size: 100% 100%;
}

p.large_hot_thermometer {
	background: image-url("hot_thermometer.png") no-repeat;
	width: 70px;
	height: 70px;
	background-size: 100% 100%;
}

form.professor_rating > div.radio {
	float: left;
	clear: both;
	padding: 10px;
	position: relative;
	overflow: hidden;
	width: 300px;
	height: 80px;
}

//form.professor_rating > div.radio > p.clarification {
//	display: none;
//	position: absolute;
//	top: 75px;
//}
//
//form.professor_rating > div.radio > input:nth-child(4):checked ~ p.clarification:nth-child(13) {
//	display: block;
//}
//
//form.professor_rating > div.radio > input:nth-child(6):checked ~ p.clarification:nth-child(14) {
//	display: block;
//}
//
//form.professor_rating > div.radio > input:nth-child(8):checked ~ p.clarification:nth-child(15) {
//	display: block;
//}
//
//form.professor_rating > div.radio > input:nth-child(10):checked ~ p.clarification:nth-child(16) {
//	display: block;
//}
//
//form.professor_rating > div.radio > input:nth-child(12):checked ~ p.clarification:nth-child(17) {
//	display: block;
//}

div.course_code {
	float: left;
}

div.course_code > label {
	font-weight: bold;
	margin-bottom: 5px;
	display: block;
}

div.course_code > input {
	background: #fff;
	margin-bottom: 20px;
	border: 1px solid #ccc;
	padding: 5px;
	font-size: 14px;
	width: 100px;
	display: block;
}

div.online_class {
	float: left;
	margin-top: 20px;
	margin-left: 10px;
}

div.hotness {
	width: 300px;
	position: absolute;
	right: 0;
	top: 80px;
}

div.hotness > label {
	margin: 5px 5px 0 5px;
}

div.hotness > input {
	margin-top: 7px;
}

div.hotness > p.cold_thermometer {
	display: block;
}

div.hotness > p.hot_thermometer {
	display: none;
}

div.hotness > input:checked ~ p.cold_thermometer {
	display: none;
}

div.hotness > input:checked ~ p.hot_thermometer {
	display: block;
}

div.hotness > input,
div.hotness > label,
div.hotness > p {
	float: left;
	display: block;
}

div.credit {
	width: 300px;
	position: absolute;
	right: 0;
	bottom: 400px;
}

div.comments {
	width: 300px;
	position: absolute;
	right: 0;
	bottom: 100px;
}

div.comments > label {
	font-weight: bold;
	margin-bottom: 5px;
	display: block;
}

div.attendance {
	width: 300px;
	position: absolute;
	right: 0;
	bottom: 340px;
}

div.grade {
	width: 300px;
	position: absolute;
	right: 0;
	bottom: 270px;
}

div.grade > label {
	font-weight: bold;
	margin-bottom: 5px;
	display: block;
}

form.professor_rating button {
	background: #7D9A00;
	color: #fff;
	padding: 15px 25px;
	font-weight: bold;
	border-radius: 10px;
	letter-spacing: 1px;
	position: absolute;
	bottom: 50px;
}

//SHOW

ul.all_ratings > li.professor_rating {
	height: 270px;
}

ul.all_ratings > li > div {
	text-align: center;
}

ul.all_ratings > li > div:not(.up_down_votes) {
	background: #ddd;
	border-radius: 5px;
	margin-right: 5px;
	padding: 10px;
}

h1.rating_label {
	font-weight: bold;
	border-bottom: 1px solid #333;
}

div.out_of_5 {
	width: 100px;
	height: 50px;
	margin-bottom: 20px;
}

p.number {
	font-size: 30px;
}

ul.all_ratings > li > div:first-child {
	height: 50px;
}

ul.all_ratings > li > div:first-child > h1 {
	display: block;
	margin-bottom: 5px;
}

ul.all_ratings > li > div:first-child > p:nth-child(3) {
	font-size: 12px;
}

div.hotness_display {
	margin-bottom: 20px;
}

ul.all_ratings > li > div.hotness_display > p {
	margin: 0 auto;
}

div.more {
	width: 220px;
}

div.more > p {
	font-size: 14px;
}

div.more > span {
	font-size: 12px;
}

div.rater_info {
	height: 87px;
}

div.rater_info > p {
	font-size: 14px;
	padding: 5px 0;
	max-width: 200px;
}

div.comments_display {
	width: 280px;
	max-height: 100px;
	overflow: auto;
}

div.comments_display > p {
	font-size: 16px;
}