// Place all the styles related to the Professors controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// Index

form.professor_search {
	margin: 0 auto;
	display: block;
	width: 500px;
	background: #7D9A00;
	color: #fff;
	padding: 13px 20px;
	border-radius: 10px;
	margin-bottom: 20px;
}

form.professor_search > input, form.general_search > input {
	float: left;
	width: 320px;
	background: rgba(255, 255, 255, 0.7);
	padding: 3px 1px;
	border-radius: 10px;
}

section.professors_list > p {
	font-size: 14px;
	text-align: center;
}

section.professors_list > p > a {
	text-decoration: underline;
}

div.paginate {
	padding: 10px 50px;
}

div.paginate > a.next {
	float: right;
}

div.paginate > a.previous {
	float: left;
}

div.paginate > a {
	font-size: 14px;
	display: block;
	color: #7D9A00;
}

div.paginate > a:hover {
	color: 	#657D00;
}