// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

//SIGN UP
span.optional {
	font-size: 12px;
	font-weight: normal;
	vertical-align: 10%;
	display: inline;
}

select {
	margin-bottom: 7px;
}


//SHOW

//Info
section.info {
	background: #A9B966;
	width: 500px;
	margin-left: 100px;
	border-radius: 10px;
	margin-bottom: 50px;
	padding: 30px 50px;
}

section.info > h1 {
	font-weight: bold;
	font-size: 24px;
}

section.info > a.edit_user {
	font-size: 14px;
	text-decoration: underline;
	display: block;
	padding-top: 10px;
}

//Edit Info
form.user_edit {
	width: 400px;
	position: relative;
}

form.user_edit > label {
	display: block;
	font-weight: bold;
}

form.user_edit > input {
	width: 300px;
	margin-bottom: 7px;
	background: rgba(255, 255, 255, 0.5);
	padding: 3px;
}

form.user_edit > a.update_user {
	display: block;
	padding: 7px 10px;
	width: 37px;
	font-weight: bold;
	border-radius: 5px;
	margin-top: 10px;
	margin-left: 10px;
	background: #ddd;
}

form.user_edit > a.cancel_update {
	display: block;
	padding: 7px 10px;
	width: 53px;
	border-radius: 5px;
	font-weight: bold;
	position: absolute;
	background: #ddd;
	bottom: 0px;
	left: 100px;
}

form.user_edit > a.update_user:hover, form.user_edit > a.cancel_update:hover {
	background: #ccc;
}

//Ratings
li.user_rating {
	position: relative;
}

li.user_rating > a.delete_rating {
	right: 20px;
}

li.user_rating > a.delete_rating:hover {
	color: #EC26E5;
	display: block;
}

li.user_rating > a.edit_rating {
	right: 90px;
}

li.user_rating > a.edit_rating:hover {
	color: #9CC100;
	display: block;
}

li.user_rating > a.delete_rating, li.user_rating > a.edit_rating {
	position: absolute;
	top: 20px;
	font-weight: bold;
	font-size: 14px;
	display: none;
}

li.user_rating:hover > a.delete_rating, li.user_rating:hover > a.edit_rating {
	display: block;
}

li.no_ratings {
	padding: 20px 30px;
	display: block;
	border-top: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
	position: relative;
}

li.no_ratings > a {
	position: absolute;
	padding: 5px 10px;
	color: #fff;
	display: block;
	border-radius: 10px;
	font-weight: bold;
	width: 100px;
	letter-spacing: 1px;
	text-align: center;
	font-size: 14px;
	top: 7px;
}

li.no_ratings > a.user_college_search {
	background: #ec26e5;
	right: 230px;
}

li.no_ratings > a.user_college_search:hover {
	background: #D422CE;
}

li.no_ratings > a.user_professor_search {
	background: #9cc100;
	right: 50px;
}

li.no_ratings > a.user_professor_search:hover {
	background: #8CAE00;
}
