<form>
  <label for="match">Search Again</label>
  <input type="search" id="match" name="match" placeholder="Search by college, professor, or department">
</form>

<section class="matches_list">
  <h1></h1>
	
	<div class="paginate">
	</div>

	<article class="matches_list"></article>
	
	<div class="paginate">
	</div>
</section>