<div class="filler"></div>

<section class="content group">
	<h1>Log In</h1>

	<form action="/api/session" method="POST">
	  <input type="hidden" name="authenticity_token" value="<%= $('meta[name="csrf-token"]').attr("content") %>">

	  <label for="user_email">Email</label>
	  <input type="email"
	      id="user_email"
	      name="user[email]">

	  <label for="user_password">Password</label>
	  <input type="password" id="user_password" name="user[password]">

	  <button>Log In</button>
		
		<a href="/auth/facebook"></a>
	</form>

	<a href="#/users/new">Sign Up</a>

	<form action="/api/session" method="POST" class="demo">
	  <input type="hidden" name="authenticity_token" value="<%= $('meta[name="csrf-token"]').attr("content") %>">

	  <input type="hidden"
	      name="user[email]"
	      value="demo@demo.com">

	  <input type="hidden" name="user[password]" value="demodemo">

	  <button>Log In with a Demo Account</button>
	</form>
</section>