<div class="filler_small"></div>

<section class="ratings group rating_form">

	<div class="college_info">
		<h1>Edit Rating for <%= college.escape("name") %></h1>
		<p><%= college.escape("location") %></p>
	</div>

	<div class="form"></div>
	
</section>

<div class="filler"></div>