<!DOCTYPE html>
<html>
<head>
  <title>RateMyPurrfessors</title>
</head>
<body>
  <%= render "shared/header" %>

  <%= render "shared/notices" %>

<%= yield %>

<%= render "shared/footer" %>

</body>
</html>
