<div class="professor_info">
	<h1>Edit Rating for <%= @professor.name %></h1>
	<p>Professor in the <%= @professor.department %> Department at <%= @professor.college.name %></p>
</div>

<%= render "form", rating: @rating, professor: @professor, grades: @grades %>