<% professor = @rating.professor %>

<div class="professor_info">
	<h1>New Rating for <%= professor.name %></h1>
	<p>Professor in the <%= professor.department %> at <%= professor.college.name %></p>
</div>