<div class="filler_small"></div>

<section class="ratings group rating_form">

	<div class="professor_info">
		<h1>New Rating for <%= professor.get("name") %></h1>
		<p>Professor in the <%= professor.get("department") %> Department at <%= college.get("name") %></p>
	</div>

	<div class="form"></div>

</section>

<div class="filler"></div>